<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="openrasta-core" version="2.5.1023" targetFramework="net45" />
  <package id="openrasta-hosting-aspnet" version="2.5.25" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.5.0" targetFramework="net45" />
  <package id="WiMHypermedia" version="1.0.6218.25967" targetFramework="net45" />
  <package id="WiMServices" version="1.0.6218.26000" targetFramework="net45" />
  <package id="WiMServices.Test" version="1.0.6218.26017" targetFramework="net45" />
  <package id="WiMUtilities" version="1.0.6451.18941" targetFramework="net45" />
</packages>