<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="nwis" value="http://waterdata.usgs.gov/nwis"/>
    <add key="nwisStationInfo" value="/inventory?search_site_no={0}&amp;search_site_no_match_type=exact&amp;format=sitefile_output&amp;sitefile_output_format=xml"/>
    <add key="nwisStationurl" value="http://waterdata.usgs.gov/nwis/inventory?agency_code=USGS&amp;site_no={0}"/>
    <!--http://waterdata.usgs.gov/nwis/dv/?cb_00060=on&format=rdb&site_no=05471050&begin_date=1900-10-01&end_date=2014-08-12-->
    <add key="nwisDailyValue" value="/dv/?cb_00060=on&amp;format=rdb&amp;site_no={0}&amp;begin_date={1}&amp;end_date={2}"/>
    <add key="correlationfile" value="SiteCorrelation.csv"/>
  </appSettings>
</configuration>